h1{
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 2.5em;
   margin-top: 250px;
   font-family: Playfair Display;
   animation: fadeIn 1.5s ease;
}
@keyframes fadeIn{
   from{opacity:0; transform: translateY(-20px);}
   to{opacity:1; transform: translateY(0);}
}
body{
   background-color: rgb(173, 216, 230);
   font-family: Open Sans;
   text-align: center;
   margin: 50px;
   margin-top: 50px;
   font-size: 20px;
   padding-top: 10px;
}

button{
   background-color: rgb(0, 128, 255);
   color: white;
   border: none;
   padding: 10px 27px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 20px;
   cursor: pointer;
   border-radius: 8px;
   
}

button:hover{
     background-color: rgb(0, 0, 255);
     transform: scale(1.3);
     transition : 0.80s;
 }

 .menu{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(173,216,230,0.95);
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 1000;
}

.menu a{
    margin: 0 20px;
    color: rgb(0,60,150);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover{
    color: rgb(0,0,255);
    text-decoration: underline;
}
