h1{
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 2.5em;
   margin-top: 250px;
   font-family: Playfair Display;
}
body{
   background-color: rgb(173, 216, 230);
   font-family: Open Sans;
   text-align: center;
   margin: 50px;
   margin-top: 60px;
   font-size: 20px;
}

button{
   background-color: rgb(0, 128, 255);
   color: white;
   border: none;
   padding: 10px 27px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 20px;
   cursor: pointer;
   border-radius: 8px;
   
}

button:hover{
     background-color: rgb(0, 0, 255);
     transform: scale(1.3);
     transition : 0.80s;
 }
